<div class="col-md-6" *ngIf="!seriesProperties">
  <h2 class="text-center">Send Series Date</h2>
  <br>
  <form name="form" (ngSubmit)="f.form.valid && createSeriesProperties()" formmethod="POST" #f="ngForm" novalidate>
    <div class="custom-file">
      <label class="custom-file-label" for="seriesDatesFile">Choose series date file</label>
      <input type="file" class="custom-file-input" (change)='handleFile($event)' placeholder="SeriesDatesFile"
        name="seriesDatesFile" [ngClass]="'form-control'" id="seriesDatesFile" accept=".csv,.txt" required>
      <br>
    </div>

    <div class="form-group" required>
      <label for="precision">Precision:</label>
      <input type="range" list="tickmarks" min="1" max="5" step="1" value="3" [(ngModel)]="precision" name="Precision"
        class="custom-range" id="precision" required>
      <datalist id="tickmarks">
        <option value="1" label="Smoothing"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5" label="Accuracy"></option>
      </datalist>
    </div>

    <button class="btn btn-success" [disabled]="isDisableButton">Send</button>
  </form>
  <br>
  <br>
</div>