<div style="text-align:center">
  <br>
  <h3>Chart with marked points:</h3>
  <canvas [hidden]="!seriesProperties" id="scatterChart"></canvas>
  <br>
  <br>
</div>

<div class="col-md-6" *ngIf="!chosenMethods && seriesProperties">
  <h3>Properties of your data series:</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Size</td>
      <td>{{seriesProperties.size}}</td>
    </tr>
    <tr>
      <td>Absolute error for polynomial approximation (m = ceil(log(pow(size, 3))))</td>
      <td>{{seriesProperties.fastVariationPolynomial}}</td>
    </tr>
    <tr>
      <td>Absolute error for trigonometric approximation (m = ceil(log(pow(size, 3)) / 2))</td>
      <td>{{seriesProperties.fastVariationTrigonometric}}</td>
    </tr>
    <tr>
      <td>Fast variation</td>
      <td>{{seriesProperties.fastVariation}}</td>
    </tr>
    <tr>
      <td>Variance</td>
      <td>{{seriesProperties.variance}}</td>
    </tr>
    <tr>
      <td>Standard deviation</td>
      <td>{{seriesProperties.standardDeviation}}</td>
    </tr>
    <tr>
      <td>Precision (1-5)</td>
      <td>{{seriesProperties.precision}}</td>
    </tr>
    <tr>
      <td>Equidistant</td>
      <td>{{seriesProperties.equidistant}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <button class="btn btn-success" [disabled]="roles.includes('ADMIN')" (click)="selectMethods()">
    Automatically choose the approximation method
  </button>
  <br>
  <br>
</div>

<div class="col-md-6" *ngIf="chosenMethods">
  <h3>Chosen methods:</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name methods</th>
      <th>Degree</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chosenMethod of chosenMethods">
      <td>{{chosenMethod.method}}</td>
      <td>{{chosenMethod.degree}}</td>
      <td>
        <button class="btn btn-success" [disabled]=chosenMethod.isUsed (click)="doApproximations(chosenMethod)">
          Choose
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
</div>

<div class="col-md-12" *ngIf="chosenMethods">
  <div *ngFor="let approximationView of approximationViews; let i = index">
    <h3>{{approximationView.method}}:</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Polynomial coefficients</th>
        <th>Domain function</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mathematicalFunctionDTO of approximationView.mathematicalFunctionDTOs">
        <td>{{coefficientsString(mathematicalFunctionDTO.polynomialDTO.coefficients)}}</td>
        <td style="width: 12.5%">{{domainString(mathematicalFunctionDTO.domainFunction)}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-info" (click)="download(approximationView.mathematicalFunctionDTOs)">
      Download
    </button>
    <br>
    <br>
  </div>
</div>

<br>
<br>
