<div class="col-md-8">
    <h3>List:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Size</th>
                <th>Fast variation</th>
                <th>Variance</th>
                <th>Standard deviation</th>
                <th>Precision</th>
                <th *ngIf="checkRoles('ADMIN')">Deleted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seriesPropertiesDTO of seriesPropertiesDTOList">
                <td>{{seriesPropertiesDTO.id}}</td>
                <td>{{seriesPropertiesDTO.size}}</td>
                <td>{{seriesPropertiesDTO.fastVariation}}</td>
                <td>{{seriesPropertiesDTO.variance}}</td>
                <td>{{seriesPropertiesDTO.standardDeviation}}</td>
                <td>{{seriesPropertiesDTO.precision}}</td>
                <td *ngIf="checkRoles('ADMIN')">{{seriesPropertiesDTO.deleted}}</td>
                <td>
                    <button *ngIf="checkRoles('USER')" class="btn btn-success">Create</button>
                    <button *ngIf="checkRoles('ADMIN')" class="btn btn-danger" disabled=!{{seriesPropertiesDTO.deleted}}>Deleted</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>