<ng-template #deleted let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center" id="modal-basic-title">Do you want to delete the selected series properties?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Delete</button>
    </div>
</ng-template>

<div class="col-md-10">
    <h3>Series properties list:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Size</th>
                <th>Fast variation</th>
                <th>Variance</th>
                <th>Standard deviation</th>
                <th>Precision</th>
                <th>Date create</th>
                <th *ngIf="checkRoles('ADMIN')">Deleted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seriesPropertiesDTO of seriesPropertiesDTOList">
                <th>
                    <input *ngIf="!seriesPropertiesDTO.deleted" type="checkbox" name={{seriesPropertiesDTO.id}}
                        (click)="selected(seriesPropertiesDTO)" value=seriesPropertiesDTO.deleted>
                </th>
                <td>{{seriesPropertiesDTO.id}}</td>
                <td>{{seriesPropertiesDTO.size}}</td>
                <td>{{seriesPropertiesDTO.fastVariation}}</td>
                <td>{{seriesPropertiesDTO.variance}}</td>
                <td>{{seriesPropertiesDTO.standardDeviation}}</td>
                <td>{{seriesPropertiesDTO.precision}}</td>
                <td>{{seriesPropertiesDTO.dateCreate | date: 'dd-MM-yyyy, HH:mm:ss'}}</td>
                <td *ngIf="checkRoles('ADMIN')">{{seriesPropertiesDTO.deleted}}</td>
                <td>
                    <button [disabled]="seriesPropertiesDTO.deleted"
                        [routerLink]="['/series-properties-detail', seriesPropertiesDTO.id]"
                        class="btn btn-info">Detail</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger" [disabled]="isDisabledButton" (click)="openDelete(deleted)">Delete selected</button>
    <br>
    <br>
    <br>
    <br>
</div>
